.App {
  background-color: #f7f7f7;
  padding: 20px;
}

.btn-divide {
  background-color: #ea5455;
  color: white;
  height:37px;
  width: 100px;
  border-style: none;
  outline: none;
  float: right;
  margin: 18.76px;
}

