.student-container {
    columns:100px 8;
    display: flex;
    flex-wrap: wrap;
}
.student-card{
    text-align: center;
    line-height: 30px;
    background-color: #eeeeee;
    height: 30px;
    width: 100px;
    margin: 10px;
}

.btn-add-stu {
    text-align: center;
    line-height: 30px;
    background-color: #eeeeee;
    height: 30px;
    width: 100px;
    margin: 10px;
    border:none;
    outline: 1px gray solid;
}
.input-add-stu {
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 100px;
    margin: 10px;
    border:none;
    outline: 1px gray solid;
}