.student-container {
    columns:100px 8;
    display: flex;
    flex-wrap: wrap;
}
.student-card{
    text-align: center;
    line-height: 30px;
    background-color: #eeeeee;
    height: 30px;
    width: 100px;
    margin: 10px;
}
.btn-add-stu {
    background-color: #f7f7f7;
    border:1px #eeeeee solid;
}
