.list-header {
    text-align: center;
    background-color: #929BAB;
    height: 30px;
    color: white;
    margin:0
}

.list-header >p {
    margin: 0;
    line-height:30px ;
}

.list-student-group {
    border: 1px #929BAB solid;
    margin: 20px;
}

.student-list {
    columns:100px 6;
    display: flex;
    flex-wrap: wrap;
}

.student-card {
    text-align: center;
    line-height: 30px;
    background-color: #eeeeee;
    height: 30px;
    width: 100px;
    margin: 10px;
}
.input-group-name {
    background-color: transparent;
    border: none;
    padding: 5px;
    height: 20px;
    text-align: center;
}
.input-group-name:focus {
    background-color: white;
    border: 1px solid white;
    outline: 1px solid #929aab;
}
